.col-md-12
  .row
    .col-md-2
      .btn-group
        =link_to 'Add task', new_project_task_path(@project, @task), class: 'btn btn-success btn-sm'
        =link_to 'Back', project_path(@project), class: 'btn btn-warning btn-sm'
    .col-md-8.text-center
      %h2
        = @project.title
      %hr

.col-md-12
  .row
    - @grouped_tasks.each do |status, tasks|
      .col-md-3.js-status{data: { id: status.id} }
        %h3= status.name
        .list-group.connectedSortable
          - tasks.each do |task|
            = link_to project_task_path(task.project, task), class:"list-group-item js-task", data: { id: task.id } do
              = render "shared/tasks", :task => task
