.col-md-6.col-md-offset-2
  .row
    %table.table.table-stripped
      %thead
        %tr
          %th #Id
          %th Title
          %th Description
          %th Author
      %tbody
        %tr
          %td= @project.id
          %td= @project.title
          %td= @project.desc
          %td= @project.author_name
