.row
  .col-sm-6.col-sm-offset-3
    .message-container
      -flash.each do |message_type, message|
        %div(class="alert #{ message_type_to_bootstrap_class message_type } alert-dismissible" role="alert")
          %button.close{ 'data-dismiss' => 'alert', 'aria-label' => 'Close' }
            %span{ 'data-hidden' => 'true' } &times;
          = message